<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
    <layout class="org.apache.log4j.PatternLayout">
      <param
          value="%d{DATE} | %t | %-5p | %C - %m%n"
          name="ConversionPattern" />
    </layout>
  </appender>

  <root>
    <level value="info" />
    <appender-ref ref="CONSOLE"/>
  </root>

</log4j:configuration>
